<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/bootstrap-theme.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                    <a href="/light?state=true" style="font-size: 200px;" class="btn btn-success btn-lg btn-block">ON</a>
            </div>
        </div>
        <br/>
        <div class="row">
                <div class="col-lg">
                    <a href="/light?state=false" style="font-size: 200px;" class="btn btn-danger btn-lg btn-block">OFF</a>
                </div>
            </div>
    </div>
</body>
</html>